{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block Content %}
    <section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6 is-offset-3 mb-4">
                <section class="hero is-primary">
                    <div class="hero-body">
                        <p class="title">Verify</p>
                    </div>
                </section>
            </div>
            <div class="column is-4 is-offset-4">

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label>Code</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Code" name="username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-info">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
{% endblock %}