{% extends 'base.html' %}
{% block Content %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-6 is-offset-3 mb-4">
                    <section class="hero is-primary">
                        <div class="hero-body">
                            <p class="title">Messenger</p>
                            <p class="subtitle">A simple chat built with Django, Channels and Redis</p>
                            <p class="subtitle">Sepehr Shafiee</p>
                            <a href="https://github.com/sepehrsh79" class="subtitle">github.com/sepehrsh79</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
